{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load account socialaccount %}


{% block content %}
    {% if user.is_authenticated %}
        <a style="float: right; margin-right: 30px" href="{% url 'account_logout' %}">Çıkış Yap</a>
        <div class="container">
            <h1 style="margin-top: 30px;margin-bottom: 25px">Kayıtlı Hayvan Listesi</h1>
            <button type="button" style="margin-bottom: 25px"
                    onclick="location.href='{% url 'animal/:add-animal-page' %}'"
                    class="btn btn-primary">Yeni Kayıt
            </button>

            <div class="input-group mb-3">
                <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Ara">
            </div>

            <table class="table" id="myTable">
                <thead>
                <tr class="clickable-row">
                    <th scope="col">Sıra</th>
                    <th scope="col">Hayvan Sahibi</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Tür</th>
                    <th scope="col">Yaş</th>
                    <th scope="col">Cins</th>
                    <th scope="col">İşlem</th>
                </tr>
                </thead>
                <tbody>
                {% for animal in animals %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a style="color: #1a1e21; text-decoration: none"
                               href="{% url 'animal/:animal-detail' animal.id %}"> {{ animal.owner }}</a></td>
                        <td><a style="color: #1a1e21; text-decoration: none"
                               href="{% url 'animal/:animal-detail' animal.id %}">{{ animal.name }}</a></td>
                        <td>{{ animal.type }}</td>
                        <td>{{ animal.age }}</td>
                        <td>{{ animal.genus }}</td>
                        <td>
                            <button type="button" onclick="location.href='{% url 'animal/:delete-animal' animal.id %}'"
                                    class="btn btn-danger">Sil
                            </button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    {% else %}
        <main class="main">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading">
                            <h2 class="title" style="display: inline-flex;margin-bottom: 25px;margin-top: 25px;">
                                GİRİŞ</h2>
                            <p style="font-size: 13px; margin:0; color: blue; display: inline-flex"><a
                                    href="{% url 'signup-page' %}" class="link-primary">
                                Kayıt Ol</a>
                            </p>
                        </div><!-- End .heading -->


                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Kullanıcı Adı</label>
                                <input type="username" class="form-control" name="username" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Kullanıcı adı girin">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Şifre</label>
                                <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                                       placeholder="Password">
                            </div>
                            <button style="margin-top: 25px" type="submit" class="btn btn-primary">Giriş</button>
                        </form>

                    </div><!-- End .col-md-6 -->


                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- margin -->
        </main><!-- End .main -->
    {% endif %}

{% endblock %}

