{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load account socialaccount %}

{% block content %}
    <main class="main">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="heading">
                        <p style="color: blue;margin-top: 30px"><a
                                href="{% url 'login' %}" class="link-primary">
                            Giriş Yap</a>
                        </p>
                    </div><!-- End .heading -->

                    <h1>Hesap Oluştur</h1>
                    <form method="POST" action="{% url 'signup' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kullanıcı Adı</label>
                            <input type="username" class="form-control" name="username" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Kullanıcı adı girin">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Email girin">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Telefon</label>
                            <input type="phone" class="form-control" name="phone" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Email girin">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adres</label>
                            <input type="text" class="form-control" name="adres" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Email girin">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Şifre</label>
                            <input type="password1" class="form-control" name="password1" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Şifre</label>
                            <input type="password2" class="form-control" name="password2" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <button style="margin-top: 25px;margin-bottom: 25px" type="submit" class="btn btn-primary">Hesap
                            Oluştur
                        </button>
                    </form>

                </div><!-- End .col-md-6 -->


            </div><!-- End .row -->
        </div><!-- End .container -->

        <div class="mb-5"></div><!-- margin -->
    </main><!-- End .main -->
{% endblock %}